body {
   background-color: #CF2B2B;
   width: 100%;
   height: 100%;
}

a {
   text-decoration: none;
}

.main {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   display: column;
   justify-content: center;
   align-items: center;

}

.tudo {
   background-color: wheat;
   width: 414px;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
}


.cabeçalho {
   background-color: #CF2B2B;
   width: 414px;
   height: 92px;
   box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
   margin-bottom: 4px;
   position: fixed;
   top: 0px;
}

.nome-do-app {
   width: 248px;
   height: 44px;
   font-family: 'Righteous';
   font-style: normal;
   font-weight: 400;
   font-size: 44px;
   line-height: 55px;
   color: #FFFFFF;
   margin-left: 21px;
   margin-top: 8px;
   margin-bottom: 5px;
}

.slogam {
   width: 226px;
   height: 17px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #FFFFFF;
   margin-left: 21px;
}

.cardapio {
   background-color: #E5E5E5;

   width: 414px;
   height: 842px;
   flex-wrap: wrap;
   margin-top: 92px;
   margin-bottom: 92px;

}

.escolha-prato,
.escolha-bebida,
.escolha-sobremesa {
   background-color: #E5E5E5;

   width: 320px;
   height: 25px;
   font-family: 'Righteous';
   font-style: normal;
   font-weight: 400;
   font-size: 26px;
   line-height: 32px;
   color: #333333;
   margin-top: 27px;
   margin-left: 19px;
   margin-bottom: 17px;
}

.pratos {

   height: 216px;
   margin-left: 19px;
   display: flex;
   overflow-y: scroll;

}

.pratos::-webkit-scrollbar {
   display: none;
}

.prato-1 {
   width: 172px;
   height: 216px;
   background: #FFFFFF;
   box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
   border-radius: 9px;
   margin-right: 16px;


}


.borda {

   box-shadow: 0px 0px 0px 5px rgb(90, 240, 3) inset;
}

.bord ion-icon {
   opacity: 1;
}


.imagem-prato,
.imagem-bebida {
   width: 144px;
   height: 87px;
   border-radius: 4px;
   margin-left: 14px;
   margin-top: 18px;
   margin-right: 14px;
}

.nome, .nome-b, .nome-s {
   width: 139px;
   height: 23px;
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   margin-left: 14px;
   margin-top: 8px;
   color: #333333;
}

.quantidade-prato {
   width: 147px;
   height: 39px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 18px;
   margin-top: 4px;
   margin-left: 14px;
   color: #A6A6A6;
}

.preço-prato {
   width: 145px;
   height: 19px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   margin-top: 5px;
   margin-left: 14px;
   display: flex;
   justify-content: space-between;
   position: relative;

}


.preço-prato ion-icon,
.preço ion-icon,
.preço-sobremesa ion-icon {

   position: absolute;
   right: 0px;
   top: 0px;
   font-size: 20px;
   color: #32B72F;
   opacity: 1;

}


.aparecer,
.vezinho {
   display: none;
}

.retirar {
   display: flex;
}


.escolhas-bebida {
   background-color: rosybrown;
   width: 250px;
   height: 25px;
   font-family: 'Righteous';
   font-style: normal;
   font-weight: 400;
   font-size: 26px;
   line-height: 32px;
   color: #333333;
   margin-top: 31px;
   margin-left: 19px;
   margin-bottom: 17px;
}


.bebidas {
   height: 202px;
   margin-left: 19px;

   display: flex;
   overflow-y: scroll;

}

.bebidas::-webkit-scrollbar {
   display: none;
}

.bebidas-1 {
   width: 172px;
   height: 202px;
   background: #FFFFFF;
   border-radius: 9px;
   margin-right: 16px;


}

.quantidade {
   width: 147px;
   height: 18px;
   font-family: 'Roboto';
   font-weight: 300;
   font-size: 15px;
   line-height: 18px;
   margin-left: 14px;
   margin-bottom: 9px;
   color: #A6A6A6;
}

.preço,
.preço-sobremesa {

   width: 145px;
   height: 19px;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   margin-left: 14px;
   color: #000000;
   display: flex;
   justify-content: space-between;
   
   position: relative;


}

.sobremesa::-webkit-scrollbar {
   display: none;
}

.sobremesa {
   height: 197px;
   margin-left: 19px;
   display: flex;
   overflow-y: scroll;
}

.sobremesa-1 {
   width: 172px;
   height: 197px;
   background: #FFFFFF;

   border-radius: 9px;
   margin-right: 16px;

}

.imagem-pudim {
   width: 144px;
   height: 82px;
   border-radius: 4px;
   margin-top: 19px;
   margin-left: 14px;
   margin-right: 13px;
}



.roda-pe {
   width: 414px;
   height: 92px;
   background-color: #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   bottom: 0;
}

.caixa-finalizar {
   width: 364px;
   height: 61px;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
   text-align: center;
   letter-spacing: 0.018em;
   color: #FFFFFF;
   background-color: #CBCBCB;
   border-radius: 50px;

}


.botão-finalizar {

   background-color: #db1313;
}

.confirmar-pedido {
   width: 377px;
   height: 353px;
   left: 19px;
   top: calc(50% - 353px/2 - 0.5px);
   background-color: #50D074;
   box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
   border-radius: 9px;
   z-index: 1;
   position: fixed;
   top: 25%;
   left: 19px;
}

.confirmar {
   width: 377px;
   height: 27px;
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   text-align: center;
   color: #FFFFFF;
   margin-top: 21px;
   margin-bottom: 28px;



}

.prato-selec,
.bebida-selec,
.sobremesa-selec {

   width: 377px;
   height: 27px;
   display: flex;
   margin-bottom: 13px;
   display: flex;
   justify-content: space-between;

}

.prato-selec p,
.bebida-selec p,
.sobremesa-selec p {

   width: 200px;
   height: 27px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
   letter-spacing: 0.018em;
   color: #FFFFFF;
   display: flex;
   margin-left: 23px;
}


.valor , .valor-2, .valor-3 {
   width: 61px;
   height: 27px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
   text-align: right;
   letter-spacing: 0.018em;
   color: #FFFFFF;
   margin-right: 23px;
}

.valor-total {

   width: 377px;
   height: 27px;
   background-color: #50D074;
   display: flex;
   justify-content: space-between;

}

.valor-total p {
   width: 172px;
   height: 27px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   letter-spacing: 0.018em;
   color: #FFFFFF;
   margin-left: 23px;
}

.valor-t {
   width: 97px;
   height: 27px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   text-align: right;
   letter-spacing: 0.018em;
   color: #FFFFFF;
   margin-right: 23px;
}

.tudo-certo {
   width: 333px;
   height: 52px;
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #FFFFFF;
   margin-top: 24px;
   margin-left: 24px;
   border-radius: 100px;

}

.tudo-certo p {

   width: 240px;
   height: 52px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.018em;
   color: #50D074;

}

.cancelar {

   width: 377px;
   height: 52px;
   display: flex;
   align-content: center;
   justify-content: center;


}

.cancelar p {
   width: 85px;
   height: 52px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.018em;

   color: #FFFFFF;
}